:root {
  /*Color*/
  --color-white: white;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-darl-grey: #4d4d4d;
  --color-gray: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: yellow;
  --color-orange: orange;
  --color-black: #000000;
  /*Font Size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /*Font weight*/
  --weight-bolc: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Size*/

  --size-border-radius: 4px;
}

/*Unversal tags*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
/*Typography*/

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}
/*Navbar*/
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pink);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin-left: 20px;
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-black);
}
