:root {
  /*Color*/
  --color-white: white;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-darl-grey: #4d4d4d;
  --color-gray: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: yellow;
  --color-orange: orange;
  --color-black: #000000;
  /*Font Size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /*Font weight*/
  --weight-bolc: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Size*/

  --size-border-radius: 4px;

  /*Animation*/
  --animation-duration: 300ms;
}

/*Unversal tags*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
/*Typography*/

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

buttom {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/*Navbar*/
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pink);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-black);
}

/*HOme */
#home {
  background: url("imgs/background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-bolc);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 4px;
}

/*Section common*/
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

/*About major*/
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  background-color: var(--color-light-white);
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon i {
  transition: var(--animation-duration);
}
.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.2);
}

.major__title,
.major__description {
  color: var(--color-darl-grey);
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job_period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}
.job_period {
  font-size: var(--font-regular);
}
