:root {
  /*Color*/
  --color-white: white;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-darl-grey: #4d4d4d;
  --color-gray: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: yellow;
  --color-orange: orange;
  --color-black: #000000;
  /*Font Size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /*Font weight*/
  --weight-bolc: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Size*/
}

/*Unversal tags*/
* {
  box-sizing: border-box;
}

/*Typography*/

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}
