:root {
  /*Color*/
  --color-white: white;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-darl-grey: #4d4d4d;
  --color-gray: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: yellow;
  --color-orange: orange;
  --color-black: #000000;
  --color-transpink: #faebd7;
  /*Font Size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /*Font weight*/
  --weight-bolc: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Size*/

  --size-border-radius: 4px;

  /*Animation*/
  --animation-duration: 300ms;
}

/*Unversal tags*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
/*Typography*/

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

buttom {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/*Navbar*/
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;

  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 8px;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}
/*HOme */
#home {
  background: url("imgs/background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-bolc);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 4px;
}

/*Section common*/
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
}

/*About major*/
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  background-color: var(--color-light-white);
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon i {
  transition: var(--animation-duration);
}
.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.2);
}

.major__title,
.major__description {
  color: var(--color-darl-grey);
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__logo {
  border-radius: 10px;
  border: 2px solid var(--color-light-white);
}
.job__name,
.job_period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}
.job_period {
  font-size: var(--font-regular);
}

/*Skills*/

#skills {
  background-color: var(--color-transpink);
}

.skillset {
  color: var(--color-light-white);
  display: flex;
  background-color: var(--color-light-grey);
  margin: 20px 0;
}
.skill {
  margin-bottom: 32px;
}
.skillset__title {
  color: var(--color-white);
}

.skill__dsecription {
  display: flex;
  justify-content: space-between;
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-darl-grey);
  padding: 20px 40px;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-gray);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-gray);
}

.tools,
.etc {
  padding: 20px;
}

/*work*/

.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-darl-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: trauslateY(10px);

  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: trauslateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  width: 50px;
  height: 2px;
  background-color: var(--color-dark-white);
}

/*Testimonial*/
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}
.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}
.testimonial__speech-bubble {
  padding: 10px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/*Contact*/
#contact {
  background-color: var(--color-dark-pink);
}

.contact__title,
.contact__email,
.contact__right {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}
.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact_links i:hover {
  transform: scale(1.1);
  transition: all var(--animation-duration) ease-in;
  color: var(--color-yellow);
}

/*scroll*/
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: var(--color-pink);
  color: var(--color-white);

  pointer-events: none;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
/*For below 768px screen width*/
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }
  #navbar.navbar--dark {
    padding: 20px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }
  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
